@model FSPACERFINAL.Models.SpacerCard

@{
    ViewData["Title"] = "Length";
}


<h2>Vertical Spacer Length: @Model.VerticalSpacerLength <br /></h2>
<h2>Horizontal Spacer Length: @Model.HorizontalSpacerLength <br /></h2>


